<ion-modal-view style="right:0px;top:40px;width: 40%;min-height: 184px; border-radius: 0.5rem;background-color: #000;">
	<ion-content>
		<div class="list">
				<span class="btnmodals handletitle">操作</span>
				<a class="item item-icon-right btnmodala" ng-click="ShowMap()">
					<span class="btnmodals">地图</span>
					<i class="icon ion-chevron-right btnmodali"></i>
				</a>
				<a class="item item-icon-right btnmodala" ng-click="DoSelectExamine(0)">
					<span class="btnmodals">全部</span>
					<i class="icon ion-chevron-right btnmodali"></i>
				</a>
				<a class="item item-icon-right btnmodala" ng-click="DoSelectExamine(1)">
					<span class="btnmodals">办结项</span>
					<i class="icon ion-chevron-right btnmodali"></i>
				</a>
				<a class="item item-icon-right btnmodala" ng-click="DoSelectExamine(2)">
					<span class="btnmodals">待办项</span>
					<i class="icon ion-chevron-right btnmodali"></i>
				</a>
		</div>
	</ion-content>
</ion-modal-view>