<ion-modal-view style="margin-left: 30%;margin-top: 70%;width: 40%;min-height: 120px; border-radius: 0.5rem;background-color: #000;">
	<ion-content>
		<div class="list">
				<a class="item item-icon-right btnmodala" ng-click="ShowMap()">
					<span class="btnmodals">地图</span>
					<i class="icon ion-chevron-right btnmodali"></i>
				</a>
				<a class="item item-icon-right btnmodala" ng-click="ShowAddScene(1)">
					<span class="btnmodals">修改</span>
					<i class="icon ion-chevron-right btnmodali"></i>
				</a>
				<a class="item item-icon-right btnmodala" ng-click="DeleteScene()">
					<span class="btnmodals">删除</span>
					<i class="icon ion-chevron-right btnmodali"></i>
				</a>
		</div>
	</ion-content>
</ion-modal-view>