<ion-view>
	<ion-header-bar align-title="center" style="background-color:#d7e2f7;">
		<span class="title"> 项目</span>
	</ion-header-bar>
	<ion-content style="background: #eee;">
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
       			<input type="search" placeholder="搜索项目..." ng-model="searchName" style="border-radius: 0.3rem;" >
       			<i class="icon  ion-ios-search-strong placeholder-icon" ></i>
    		</label>
		</div>
		<div class="list">
			<span ng-show="!serverdata.currentlist">无项目</span>
			<a class="item item-icon-right projectitem" ng-show="serverdata.currentlist" ng-repeat="item in serverdata.currentlist|SerchProjectFilter:searchName" ng-click="GotoScene('{{item.ProjectID}}','{{item.Manager}}')">
					<span class="projectname">[项目]{{item.ProjectName}}</span>
					<span class='projectstatus'>
						{{const_state[item.ProjectState]}}
						<img ng-show="item.Status=='true'" ng-src='sources/comm/img/red.png' alt='' style='width: 8px; height: 8px; position: absolute;top: 5px;right: 55px;z-index: 999;' />
					</span>
					<i class="icon ion-chevron-right"></i>
			</a>
		</ul>
		<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="!serverdata.noMore">
    	</ion-infinite-scroll>
	</ion-content>
</ion-view>